{# empty Twig template #}
{% extends "layouts/template.html.twig" %}
{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

    <div class="page-header">
        <h2>A propos</h2>
    </div>

    <div class="divider">
        <div class="col-lg-8">
            <h3>Le service d'habitat en RDC</h3>
            <blockquote>
                <p>contenu</p>
            </blockquote>
        </div>
        <div class="col-lg-4">
            <h3>Actualités</h3>
            <blockquote>
                <p>contenu</p>
            </blockquote>
        </div>
    </div>

{% endblock %}