<br />
{{ url('agent_new_url_with_params', {b: url.transformToStr(9), c: url.transformToStr(9)}) }}<br />
{{ url('agent_home', {as: url.transformToStr(9)}) }}

<div>
    <pre>
        {{ dump(pages) }}
    </pre>
</div>